---
title: Page not found
summary: Page not found
layout: layouts/default.njk
eleventyExcludeFromCollections: true
---

<div class="text-center">
  <h1 class="heading">{{ title }}</h1>
  <hr>
  <p>
    Try <a href="/">home</a>
  </p>
</div>
