---
title: Home
summary: Developer & designer
layout: layouts/default.njk
---

<div class="home">
  <h1 class="heading">
    Nick Colley
    <small class="sub-heading">Designer &amp; developer</small>
  </h1>
  <hr>
  <h2>Social</h2>
  <ul class="menu">
    <li class="menu-item">
      <a class="menu-item-link" href="https://www.twitter.com/nickcolley">Twitter</a>
    </li>
    <li class="menu-item">
      <a class="menu-item-link" rel="me" href="https://toot.cat/@nickcolley">Mastodon</a>
    </li>
    <li class="menu-item">
      <a class="menu-item-link" href="https://github.com/nickcolley">GitHub</a>
    </li>
  </ul>
  <hr>
  <h2>Projects</h2>
  <ul class="post-list">
    <li class="post-list-item">
      <small class="post-meta">October 1st, 2022</small>

      <h3 class="post-list-heading">
        <a class="post-link" href="https://nickcolley.github.io/principles-of-disability-justice/">Sins Invalid: 10 Principles of Disability Justice one pager</a>
      </h3>
    </li>
    <li class="post-list-item">
      <small class="post-meta">March 20, 2021</small>

      <h3 class="post-list-heading">
        <a class="post-link" href="https://design-of-forms.online">The Design of Forms in Government Departments &ndash; Digital remaster</a>
      </h3>
    </li>
    <li class="post-list-item">
      <small class="post-meta">January 18, 2019</small>

      <h3 class="post-list-heading">
        <a class="post-link" href="https://contrast-checker.netlify.app">Colour contrast checker</a>
      </h3>
    </li>
    <li class="post-list-item">
      <small class="post-meta">February 13, 2018</small>

      <h3 class="post-list-heading">
        <a class="post-link" href="https://github.com/nickcolley/jest-axe">jest-axe: Custom Jest matcher for aXe for testing accessibility</a>
      </h3>
    </li>
  </ul>
  <hr>
  <h2>Posts</h2>
  <ul class="post-list">
    {% for post in collections.post | reverse %}
      <li class="post-list-item">
        <small class="post-meta">
          {{- post.data.date | date("MMMM d, yyyy") -}}
          {%- if post.data.redirectUrl -%}
            &nbsp;&ndash;&nbsp;
            {{- post.data.redirectUrl | hostname -}}
          {%- endif -%}
        </small>

        <h3 class="post-list-heading">
          <a class="post-link" href="{{ post.data.redirectUrl if post.data.redirectUrl else post.url }}">
            {{- post.data.title -}}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
