---
title: Home
layout: layouts/default.njk
---

<div class="home">
  <h1 class="heading">
    Nick Colley
    <small class="sub-heading">Developer – Designer</small>
  </h1>
  <hr>
  <nav role="navigation">
    <h2>social</h2>
    <ul class="menu">
      <li class="menu-item">
        <a class="menu-item-link" href="https://www.twitter.com/nickcolley">Twitter</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link" href="https://github.com/nickcolley">GitHub</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link" href="https://glitch.com/@nickcolley">Glitch</a>
      </li>
      <li class="menu-item">
        <a class="menu-item-link" href="https://codepen.io/nickcolley">
          Codepen <small>(old)</small>
        </a>
      </li>
    </ul>
  </nav>
  <hr>
  <h2>Projects</h2>
  <ul class="post-list">
    <li class="post-list-item">
      <small class="post-meta">November 22, 2018</small>

      <h3 class="post-list-heading">
        <a class="post-link" href="https://github-dependents.glitch.me">
          Github Dependents API 📦
        </a>
      </h3>
    </li>
    <li class="post-list-item">
      <small class="post-meta">May 26, 2018</small>

      <h3 class="post-list-heading">
        <a class="post-link" href="https://do-not-track-third-party-embeds.glitch.me">
          ‘Do Not Track’ (DNT) with Third-party Embeds 🕵️🔎
        </a>
      </h3>
    </li>
    <li class="post-list-item">
      <small class="post-meta">February 13, 2018</small>

      <h3 class="post-list-heading">
        <a class="post-link" href="https://github.com/nickcolley/jest-axe">
          jest-axe: Custom Jest matcher for aXe for testing accessibility ♿️🃏
        </a>
      </h3>
    </li>
  </ul>
  <hr>
  <h2>Posts</h2>
  <ul class="post-list">
    {% for post in collections.post | reverse %}
      <li class="post-list-item">
        <small class="post-meta">{{ post.data.date | date("MMMM d, yyyy") }}</small>

        <h3 class="post-list-heading">
          <a class="post-link" href="{{ post.data.redirectUrl if post.data.redirectUrl else post.url }}">
            {{ post.data.title }}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
