{% if page.footnotes %}
  <hr>
  <div class="footnotes" id="footnotes">
    <!-- https://www.sitepoint.com/accessible-footnotes-css -->
    <h2 id="footnote-label">Footnotes</h2>
    <ol>
      {% for note in page.footnotes %}
        <li id="{{ note.id }}">
          {{ note.text }}
          <a class="footnotes-back-link" href="#{{ note.id }}-ref" aria-label="Back to content">↩</a>
          {% if note.count == 2 %}
            <a class="footnotes-back-link" href="#{{ note.id }}2-ref" aria-label="Back to second reference to content">↩</a>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </div>
{% endif %}
