{% if page.footnotes %}
  <style>
    .footnotes {
      font-size: .8rem;
    }

    .footnotes h2 {
      font-size: 1rem;
    }

    .footnotes ul {
      margin-bottom: 0;
    }

    .footnotes > ol > li {
      margin-bottom: .5rem;
    }

    .footnotes :target {
      outline: 2px dashed blue;
      outline-offset: 2px;
    }

    .footnotes-back-link {
      font-size: 0.8em;
      font-weight: bold;
    }
  </style>
  <hr>
  <div class="footnotes">
    <!-- https://www.sitepoint.com/accessible-footnotes-css -->
    <h2 id="footnote-label">Footnotes</h2>
    <ol>
      {% for note in page.footnotes %}
        <li id="{{ note.id }}">
          {{ note.text }}
          <a class="footnotes-back-link" href="#{{ note.id }}-ref" aria-label="Back to content">↩</a>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endif %}
