
@font-face {
    src: url('/assets/fonts/Barlow.woff2') format('woff2-variations');
    font-family: Barlow;
    font-weight: 1 999;
}

*, *:after, *:before {
    box-sizing: inherit;
}

:focus {
    outline: 2px dotted;
    outline-offset: 2px;
}

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #FAFAFA;
    color: #222;
    font-family: Barlow, -apple-system, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-variation-settings: "wght" 70, "wdth" 500;
}

@media (max-width: 40rem) {
    html {
    font-size: 18px;
    }
}

body {
    margin: 0;
    max-width: 35rem;
    padding: 2rem 1rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: blue;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.2;
    font-weight: bold;
    font-variation-settings: "wght" 140, "wdth" 500;
    word-break: break-word;
}

p + h2,
pre + h2 {
    margin-top: 2.25rem;
}

hr {
    margin-top: 0;
    margin-bottom: 1.5rem;
    border-top: 0;
    border-bottom: 1px dashed #CCC;
}

p {
    margin-top: 0;
}

/* Force relative sizing to work properly, with a hack */
pre,
code {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    overflow-y: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: aliceblue;
    color: #444;
    font-size: .8rem;
    line-height: 1.8;
    border: 1px dashed #CCC;
}

code {
    font-size: .8rem;
    background: aliceblue;
}

figure {
    margin: 0;
    margin-bottom: 2rem;
}

main img {
    border: 2px solid #9E9E9E;
    max-width: 100%;
}

main ol,
main ul,
main p,
main figure {
    margin-bottom: 2rem;
    line-height: 1.5;
}

main ol,
main ul {
    padding-left: 1em;
}

blockquote {
    border-left: .3rem solid #9E9E9E;
    margin-left: 0;
    padding-left: 1rem;
}

.language-css .token.selector { color: blue; }
.language-javascript .token.constant,
.language-javascript .token.function { color: blue; }
.language-javascript .token.string { color: #3f51b5; }
.language-javascript .token.number { color: blue; }

.heading {
    font-size: 3.25rem;
    margin-bottom: 2.25rem;
    font-variation-settings: "wght" 160, "wdth" 500;
}
@media (max-width: 30rem) {
    .heading {
    font-size: 2.25rem;
    }
}

.sub-heading {
    color: #444;
    display: block;
    font-size: 1.3rem;
    margin-top: .2rem;
    font-weight: normal;
    font-variation-settings: "wght" 70, "wdth" 500;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: -.75rem;
    margin-bottom: .75rem;
}
.menu:after {
    content: '';
    display: table;
    clear: both;
}
.menu-item {
    float: left;
    padding: 0;
    margin: 0;
}
.menu-item-link {
    display: block;
    padding: .75rem;
}

.grid {
    margin-left: -1rem;
    margin-right: -1rem;
}

.grid-col {
    float: left;
    width: 50%;
    padding-left: 1em;
    padding-right: 1em;
}

@media (max-width: 50rem) {
    .grid-col {
    width: 100%;
    }
}

.post-list {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 2rem;
}

.post-list-item {
    margin-bottom: 1rem;
}

.post-list-item > :last-child {
    margin-bottom: 0;
}

.post-list-heading {
    font-size: 1rem;
    font-weight: normal;
    font-variation-settings: "wght" 80, "wdth" 500;
}

.post-heading {
}

.post-meta {
    color: #444;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-right {
    text-align: right;
}

.text-center {
    /*text-align: center;*/
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

@media (min-width: 30rem) {
    .footnotes {
    font-size: .8rem;
    }
}

.footnotes h2 {
    font-size: 1rem;
}

.footnotes ul {
    margin-bottom: 0;
}

.footnotes > ol > li {
    margin-bottom: .5rem;
}

.footnotes :target {
    outline: 2px dashed blue;
    outline-offset: 2px;
}

.footnotes-back-link {
    font-size: .8em;
    font-weight: bold;
    padding: 1em;
    padding-left: 0;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important
}
