<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} – Nick Colley</title>
    <meta name="description" content="{{ summary }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
  </head>
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content | safe }}
      </div>
    </main>
  </body>

</html>
