---
layout: layouts/default.njk
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <p class="sub-heading post-meta">
      <time datetime="{{ page.date | dateISO }}" itemprop="datePublished">
        {{ page.date | date("MMMM d, yyyy") }}
      </time>
    </p>
    <h1 class="heading post-heading" itemprop="name headline">{{ title }}</h1>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content | safe }}
  </div>
  {% include "footnotes.njk" %}
  <hr>
  <p class="clearfix">
    <a class="pull-left" href="/">more posts</a>
    <a class="pull-right" href="//www.twitter.com/nickcolley">@nickcolley</a>
  </p>
</article>
